$green-primary: mat-palette($mat-blue-grey, 900, 901, 750);
$green-accent: mat-palette($mat-grey, 200, 700, A100);
$green-warn: mat-palette($mat-red, 500, A200, 500);

$green-theme: mat-light-theme($green-primary, $green-accent, $green-warn);